body{
  background: #741600 ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-sections{
  margin-top: -24.3%;
  background: #741600 ;
}

.title-sections{
  background: #741600 ;

}

.data-sections{
  background: #741600 ;
}